.header {
    grid-area: header;
    background-color: greenyellow;
    }
    
    .header img {
        width: 40px
            }
    .item {
        color: hotpink;
    }

    .active {
        color: rgb(61, 42, 165);
    }
    
.commonError {
    color: red;
    border: red
}
.formStylesError textarea
{border: solid 3px red}

.formStylesError span {
    color: red
} 
    
    

   