.sidebar {
    grid-area: nav;
    background-color: rgb(50, 182, 205);
    padding: 10px;

  }
  .item a {
      color: white;
      text-decoration: none;
  }
  .item.active {
      color: blueviolet;
  }

  .item a.active {
    color: red;
}


  